<mat-toolbar color="primary">
  <div class="toolbar-container">
    <span class="logo-text">SuperHero DB</span>
    <nav class="nav-links">
      <a routerLink="/home" mat-button>Dashboard</a>
      <a routerLink="/heroes" mat-button>Heroes</a>
    </nav>
  </div>
</mat-toolbar>
