.toolbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo-text {
  font-family: 'SuperHeroLight', sans-serif;
  font-size: 35px;
  color: white;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  justify-content: space-between;

}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 16px;
  font-size: 12px;
}

.nav-links a.mat-button {
  padding: 0 8px;
  min-width: auto;
}

@media (max-width: 768px) {
  .toolbar-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-text {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-links {
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .nav-links a {
    margin-left: 8px;
    margin-bottom: 8px;
  }
}
