<h2 mat-dialog-title>Eliminar elemento</h2>
<mat-dialog-content>¿Estás seguro de que quieres eliminar este elemento?</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Sí</button>
</mat-dialog-actions>
