
.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-mdc-form-field {
  margin-right: 20px;
}

.chips-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.mat-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.mat-dialog-actions {
  margin-top: 24px;
}
