<h2 mat-dialog-title *ngIf="data">Editar Superhéroe</h2>
<h2 mat-dialog-title *ngIf="!data">Nuevo Superhéroe</h2>
<form [formGroup]="superheroForm" (ngSubmit)="createNewSuperHeroe()">
  <mat-dialog-content class="mat-typography">
    <!-- Nombre -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>

    <!-- Nombre Real -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre Real</mat-label>
      <input matInput formControlName="nombre_real">
    </mat-form-field>

    <!-- Género -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Género</mat-label>
      <input matInput formControlName="genero">
    </mat-form-field>

    <!-- Equipo -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Equipo</mat-label>
      <input matInput formControlName="equipo">
    </mat-form-field>

    <!-- Ciudad -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="ciudad">
    </mat-form-field>

    <!-- Nacionalidad -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nacionalidad</mat-label>
      <input matInput formControlName="nacionalidad">
    </mat-form-field>

    <!-- Altura -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Altura</mat-label>
      <input matInput formControlName="altura">
    </mat-form-field>

    <!-- Peso -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Peso</mat-label>
      <input matInput formControlName="peso">
    </mat-form-field>

    <!-- Color de Ojos -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Color de Ojos</mat-label>
      <input matInput formControlName="color_ojos">
    </mat-form-field>

    <!-- Color de Cabello -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Color de Cabello</mat-label>
      <input matInput formControlName="color_cabello">
    </mat-form-field>

    <!-- Primera Aparición -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Primera Aparición</mat-label>
      <input matInput formControlName="primera_aparicion">
    </mat-form-field>

    <!-- Alias -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Alias</mat-label>
      <input matInput formControlName="alias">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="null">Cancelar</button>
    <button mat-button cdkFocusInitial type="submit">Guardar</button>
  </mat-dialog-actions>
</form>