<div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="center">
  <!-- Tarjeta 1 -->
  <mat-card fxFlex="30">
    <mat-card-header>
      <mat-card-title>Título Tarjeta 1</mat-card-title>
      <mat-card-subtitle>Subtítulo Tarjeta 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Contenido interesante de la Tarjeta 1.</p>
    </mat-card-content>
  </mat-card>

  <!-- Tarjeta 2 -->
  <mat-card fxFlex="30">
    <mat-card-header>
      <mat-card-title>Título Tarjeta 2</mat-card-title>
      <mat-card-subtitle>Subtítulo Tarjeta 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Contenido interesante de la Tarjeta 2.</p>
    </mat-card-content>
  </mat-card>

  <!-- Tarjeta 3 -->
  <mat-card fxFlex="30">
    <mat-card-header>
      <mat-card-title>Título Tarjeta 3</mat-card-title>
      <mat-card-subtitle>Subtítulo Tarjeta 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Contenido interesante de la Tarjeta 3.</p>
    </mat-card-content>
  </mat-card>
</div>
