<mat-form-field>
  <input matInput #searchInput placeholder="Buscar" [(ngModel)]="searchTerm">
</mat-form-field>

<button mat-raised-button color="primary" (click)="openNewSuperheroDialog()">Crear Nuevo</button>
<div class="mat-elevation-z8" *ngIf="tableData">
  <table mat-table [dataSource]="tableData" class="full-width-table">

     <!-- id -->
     <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Nombre Real -->
    <ng-container matColumnDef="nombre_real">
      <th mat-header-cell *matHeaderCellDef> Nombre Real </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_real}} </td>
    </ng-container>

    <!-- Género -->
    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef> Género </th>
      <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
    </ng-container>

    <!-- Alias -->
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef> Alias </th>
      <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
    </ng-container>

    <!-- Equipo -->
    <ng-container matColumnDef="equipo">
      <th mat-header-cell *matHeaderCellDef> Equipo </th>
      <td mat-cell *matCellDef="let element"> {{element.equipo}} </td>
    </ng-container>

    <!-- Ciudad -->
    <ng-container matColumnDef="ciudad">
      <th mat-header-cell *matHeaderCellDef> Ciudad </th>
      <td mat-cell *matCellDef="let element"> {{element.ciudad}} </td>
    </ng-container>

    <!-- Nacionalidad -->
    <ng-container matColumnDef="nacionalidad">
      <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
      <td mat-cell *matCellDef="let element"> {{element.nacionalidad}} </td>
    </ng-container>

    <!-- Altura -->
    <ng-container matColumnDef="altura">
      <th mat-header-cell *matHeaderCellDef> Altura </th>
      <td mat-cell *matCellDef="let element"> {{element.altura}} </td>
    </ng-container>

    <!-- Peso -->
    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
    </ng-container>

    <!-- Primera Aparición -->
    <ng-container matColumnDef="primera_aparicion">
      <th mat-header-cell *matHeaderCellDef> Primera Aparición </th>
      <td mat-cell *matCellDef="let element"> {{element.primera_aparicion}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="edit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator *ngIf="tableData.data.length" [pageSizeOptions]="[5,10,25,50]" ></mat-paginator>
  <div *ngIf="tableData.data.length === 0" class="no-data-message">
    No existen datos para mostrar.
  </div>
  
</div>