@import '@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'SuperHero';
  src: url('/assets/fonts/superhero.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperHeroLight';
  src: url('/assets/fonts/superhero-light.ttf') format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
